<h2>Articles</h2>
<div id="articles-table">
  <article *ngFor="let article of articles">
    <a href="{{article.url}}">
      <div class="article-image">
        <img src="https://www.davidschlachter.com/{{article.thumbnail_url}}" alt="{{article.thumbnail_alt}}" loading="lazy">
      </div>
    </a>
    <div class="article-description">
      <h1><a href="{{article.url}}">{{article.title}}</a></h1>
      <p>{{article.date | date:"mediumDate"}}<br>{{article.summary}}</p>
    </div>
  </article>
</div>